<mat-card *ngFor="let item of items">
  <mat-card-content>
    <p>Name(EN) {{item.nameEN}}</p>
    <p>Name(RU) {{item.nameRU}}</p>
    <hr><br>
    <p>type(EN) {{item.typeEN}}</p>
    <p>type(RU) {{item.typeRU}}</p>
    <hr><br>
    <p>association(EN) {{item.associationEN}}</p>
    <p>association(RU) {{item.associationRU}}</p>
    <hr><br>
    <p>method(EN) {{item.methodEN}}</p>
    <p>method(RU) {{item.methodRU}}</p>
    <hr><br>
    <p>note(EN) {{item.noteEN}}</p>
    <p>note(RU) {{item.noteRU}}</p>
    <hr><br>
    <p>garnish(EN) {{item.garnishEN}}</p>
    <p>garnish(RU) {{item.garnishRU}}</p>
  </mat-card-content>
</mat-card>
