nav {
  list-style-type: none;
  padding: 0 30px 0 30px;
  overflow: hidden;
  background-color: #333;
  margin: 0 0 10px 0;
}

a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  float: left;
}

a:hover{
  background-color: black;
}
a.active {
  background-color: cadetblue;
}

