nav {
  list-style-type: none;
  margin: 0;
  padding: 10px 10px 10px 10px;
  overflow: hidden;
  background-color: #333;
}

a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px 15px 15px 15px;
  text-decoration: none;
  float: left;
}

a:hover{
  background-color: black;
}
a.active {
  background-color: cadetblue;
}

